<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="d-flex heading">
                <p class="head1">DECODING</p>
                <p class="head2">FUTURE</p>
            </div>
            <div class="text">
                <p>Welcome to <b style="color: #F79521; font-weight:900;">S</b>2<b
                        style="color: #F26522; font-weight:900;">P</b> EduTech! Transform your passion for coding into a
                    rewarding career with our expert-led programs.</p>
            </div>

        </div>
        <div class="col-1">
            <div class="vertical-line"></div>
        </div>
        <div class="col-5 right">
            <p class="head1">STUDENT <img src="../../assets/landing/1.png" class="img1"></p>
            <p class="head2"> TO PROFESSIONAL</p>
            <img src="../../assets/landing/2.png" class="img2">
        </div>
    </div>
</div>


<div class="container-fluid slider-container">
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card parentcard">
                <div class="card childcard">
                    <ul class="select justify-content-center">
                        <li
                          [ngClass]="{ active: selectedTab == 'one' }"
                          (click)="showOne()">
                          <p class="text-center">1</p>
                        </li>
                        <li
                          [ngClass]="{ active: selectedTab == 'two' }"
                          (click)="showTwo()">
                          <p class="text-center">2</p>
                        </li>
                        <li
                        [ngClass]="{ active: selectedTab == 'three' }"
                        (click)="showThree()">
                        <p class="text-center">3</p>
                      </li>
                      <li
                      [ngClass]="{ active: selectedTab == 'four' }"
                      (click)="showFour()">
                      <p class="text-center">4</p>
                    </li>
                      </ul>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-8 col-sm-8 col-xs-8">
                            <!-- <ngb-carousel #carousel [interval]="3000" [showNavigationIndicators]="false"> -->
                                <!-- <ng-template ngbSlide> -->
                                    <div class="picsum-img-wrapper" *ngIf="selectedTab == 'one'">
                                        <img src="../../assets/gallery/IMG20230408141048.jpg" class="img-fluid w-100"/>
                                    </div>
                                <!-- </ng-template> -->
                                <!-- <ng-template ngbSlide> -->
                                    <div class="picsum-img-wrapper" *ngIf="selectedTab == 'two'">
                                        <img src="../../assets/gallery/IMG20230323170530.jpg" class="img-fluid w-100"/>
                                    </div>
                                <!-- </ng-template> -->
                            <!-- </ngb-carousel> -->
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-xs-4">
                            <div class="card">
                                <div class="card imgcard">
                                    <img src="../../assets/s2p landing.png" class="img-fluid">
                                </div>
                                <div class="card-body">
                                  <p class="heading">Celebrating over </p>
                                  <img src="../../assets/landing/1.png" class="img-fluid">
                                  <h1 class="text-center">{{ currentNumber }}+</h1>
                                  <h6 class="bottomtext">Students successfully placed in leading tech roles, Our track record speaks for itself.</h6>
                                </div>
                                <div class="footer d-flex">
                                    <img src="../../assets/landing/Mask group.png" class="img1">
                                    <img src="../../assets/landing/Mask group (1).png" class="img2">
                                    <img src="../../assets/landing/Mask group (2).png" class="img3">
                                    <img src="../../assets/landing/Ellipse 15.png" class="Ellipse">
                                    <img src="../../assets/landing/Vector.png" class="vector">

                                </div>

                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


