.container-fluid {
  .heading {
    margin-left: 15px;

    .head1 {
      font-family: Champion Gothic;
      font-size: 145px;
      font-weight: 275;
      margin-right: 20px;
      line-height: 15rem;
      margin-top: -2rem;
      color: #f79521;
    }

    .head2 {
      font-family: Champion Gothic;
      font-size: 145px;
      font-weight: 275;
      margin-right: 20px;
      line-height: 15rem;
      margin-top: -2rem;
      color: #f26522;
    }
  }

  .text {
    margin-top: -3.5rem;
    margin-left: 15px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.64px;
  }

  .vertical-line {
    border-left: 1.5px solid #000000;
    height: 80%;
    margin-top: 5px;
  }

  .right {
    .head1 {
      font-family: Champion Gothic;
      font-size: 133px;
      font-weight: 275;
      color: #f26522;
      margin-left: -4rem;
      margin-top: -2rem;

      .img1 {
        margin-left: 8rem;
        margin-bottom: 3rem;
      }
    }

    .head2 {
      font-family: Champion Gothic;
      font-size: 133px;
      font-weight: 275;
      color: #f79521;
      margin-top: -6rem;
      margin-left: -4rem;
    }

    .img2 {
      margin-top: -9rem;
      margin-left: -6rem;
    }
  }
}

.slider-container {
  .parentcard {
    position: relative;
    border-radius: 20px;
    border-top-left-radius: 40px;
    background-color: #fef7ee;
    height: 23rem;
    justify-content: center;
    margin-top: -2.5rem;
    border: 0;
    .container-fluid {
      .picsum-img-wrapper {
        padding-left: 10px;
        .img-fluid {
          margin-top: 1rem;
          height: 20rem;
          border-radius: 10px;
        }
      }
      .card {
        padding: 10px;
        height: 22rem;
        border-radius: 12px;

        .imgcard {
          border-radius: 1rem;
          height: 8rem;
          background-color: #fef7ee;

          .img-fluid {
            height: 3rem;
          }
        }

        .card-body {
          .heading {
            font-family: "Helvetica";
            font-size: 17px;
            margin-top: -1rem;
            text-align: center;
          }

          .img-fluid {
            height: 30px;
            margin-top: -2rem;
            position: relative;
            left: 8rem;
          }

          .text-center {
            margin-top: -2rem;
            font-size: 50px;
            font-weight: 700;
            font-family: "Helvetica";
          }

          .bottomtext {
            font-family: "Helvetica";
            font-size: 10px;
            text-align: justify;
          }
        }

        .footer {
          .img1 {
            position: relative;
            height: 2rem;
          }

          .img2 {
            position: relative;
            right: 1rem;
            height: 2rem;
          }

          .img3 {
            position: relative;
            height: 2rem;
            right: 2rem;
          }

          .Ellipse {
            position: relative;
            margin-left: 3.8rem;
            height: 2.5rem;
          }

          .vector {
            position: relative;
            right: 26px;
            height: 1rem;
            margin-top: 0.7rem;
          }
        }
      }
    }
  }

  .childcard {
    position: absolute;
    width: 20rem;
    justify-content: center;
    background-color: #fef7ee;
    left: 2.5rem;
    bottom: 22.9rem;
    height: 3rem;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    border: 0px;
    .select {
      list-style: none;
      padding: 10px;
      margin: 0;
      display: flex;
    }

    .select li {
      cursor: pointer;
      margin-top: 10px;
      padding: 5px;
      margin-right: 10px;
      background: #FFFFFF;
      border-radius: 11px;
      height: 40px;
      width: 40px;

      .text-center {
        font: 12px "Helvetica";
        line-height: 19.04px;
        color: rgba(166, 160, 160, 1);
        margin-top: 6px;
      }
    }

    .select li.active {
      // background-color:  rgba(242, 101, 34, 1);
      background: #FFFFFF;

      .text-center {
        color: rgba(242, 101, 34, 1);
      }
    }
  }
}

@media (max-width: 1441px) {
  .slider-container {
    .parentcard {
      .container-fluid {
        .card {
          .card-body {
            .heading {
              font-family: "Helvetica";
              font-size: 15px;
            }

            .img-fluid {
              height: 30px;
              margin-top: -2.5rem;
              left: 7.5rem;
            }
          }

          .footer {
            .Ellipse {
              margin-left: 2.8rem;
              height: 2.5rem;
            }

            .vector {
              right: 24px;
              height: 1rem;
              margin-top: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .slider-container {
    .parentcard {
      .container-fluid {
        .card {
          .card-body {
            .heading {
              font-family: "Helvetica";
              font-size: 14px;
            }

            .img-fluid {
              height: 28px;
              margin-top: -3rem;
              left: 7.2rem;
            }

            .text-center {
              font-size: 45px;
            }
          }

          .footer {
            .Ellipse {
              margin-left: 2rem;
              height: 2.5rem;
            }

            .vector {
              right: 24px;
              height: 1rem;
              margin-top: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .slider-container {
    .parentcard {
      height: 21rem;
      margin-top: -2rem;
      .container-fluid {
        .picsum-img-wrapper {
          .img-fluid {
            height: 18rem;
          }
        }
        .card {
          height: 20rem;
          border-radius: 12px;

          .imgcard {
            height: 8rem;

            .img-fluid {
              height: 3rem;
            }
          }

          .card-body {
            .heading {
              font-family: "Helvetica";
              font-size: 15px;
            }

            .img-fluid {
              height: 20px;
              margin-top: -3rem;
              left: 9rem;
            }

            .text-center {
              font-size: 50px;
            }

            .bottomtext {
              font-size: 12px;
            }
          }

          .footer {
            .img1 {
              margin-top: 1rem;
              height: 1.8rem;
            }

            .img2 {
              margin-top: 1rem;
              height: 1.8rem;
              right: 1rem;
            }

            .img3 {
              margin-top: 1rem;
              height: 1.8rem;
              right: 2rem;
            }

            .Ellipse {
              margin-top: 1rem;
              margin-left: 4.5rem;
              height: 2.2rem;
            }

            .vector {
              margin-top: 1.5rem;
              right: 24px;
              height: 1rem;
            }
          }
        }
      }
    }
    .childcard {
      width: 19rem;
      bottom: 20.5rem;
      height: 2.8rem;
      .select li {
        margin-top: 12px;
        margin-right: 15px;
        height: 38px;
        width: 38px;

        .text-center {
          font: 15px "Helvetica";
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .slider-container {
    .parentcard {
      height: 20rem;
      margin-top: -0.5rem;
      .container-fluid {
        padding: 1rem;
        .picsum-img-wrapper {
          .img-fluid {
            height: 17rem;
          }
        }
        .card {
          height: 19rem;
          .imgcard {
            height: 8rem;

            .img-fluid {
              height: 3rem;
            }
          }
          .card-body {
            .heading {
              font-size: 15px;
            }
            .img-fluid {
              height: 20px;
              margin-top: -3rem;
              left: 8.5rem;
            }
            .text-center {
              margin-top: -2.5rem;
              font-size: 45px;
            }

            .bottomtext {
              font-size: 11px;
            }
          }

          .footer {
            .img1 {
              margin-top: 1.5rem;
              height: 1.8rem;
            }

            .img2 {
              margin-top: 1.5rem;
              height: 1.8rem;
              right: 1rem;
            }

            .img3 {
              margin-top: 1.5rem;
              height: 1.8rem;
              right: 2rem;
            }

            .Ellipse {
              margin-top: 1.2rem;
              margin-left: 4.2rem;
              height: 2.2rem;
            }

            .vector {
              margin-top: 1.8rem;
              right: 24px;
              height: 1rem;
            }
          }
        }
      }
    }
    .childcard {
      width: 17rem;
      bottom: 19.8rem;
      height: 2.5rem;
      .select li {
        margin-top: 10px;
        margin-right: 12px;
        height: 35px;
        width: 35px;

        .text-center {
          font: 14px "Helvetica";
        }
      }
    }
  }
}

@media (max-width: 1346px) {
  .container-fluid {
    .heading {
      margin-left: 7px;

      .head1 {
        font-size: 105px;
        font-weight: 275;
        margin-right: 16px;
        line-height: 15rem;
        margin-top: -4rem;
      }

      .head2 {
        font-size: 105px;
        font-weight: 275;
        margin-right: 16px;
        line-height: 15rem;
        margin-top: -4rem;
      }
    }

    .text {
      margin-top: -5rem;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    .right {
      .head1 {
        font-size: 95px;
        font-weight: 275;
        margin-left: -3rem;
        margin-top: -1.5rem;

        .img1 {
          margin-left: 5rem;
          margin-bottom: 2rem;
          height: 4rem;
        }
      }

      .head2 {
        font-size: 95px;
        font-weight: 275;
        margin-top: -4.5rem;
        margin-left: -3rem;
      }

      .img2 {
        margin-top: -6rem;
        margin-left: -4.7rem;
        height: 2.5rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container-fluid {
    .heading {
      margin-left: 7px;

      .head1 {
        font-size: 75px;
        font-weight: 275;
        margin-right: 16px;
        line-height: 15rem;
        margin-top: -4rem;
      }

      .head2 {
        font-size: 75px;
        font-weight: 275;
        margin-right: 16px;
        line-height: 15rem;
        margin-top: -4rem;
      }
    }

    .text {
      margin-top: -6rem;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }

    .right {
      .head1 {
        font-size: 67px;
        font-weight: 275;
        margin-left: -1rem;
        margin-top: -0.1rem;

        .img1 {
          margin-left: 4rem;
          margin-bottom: 2rem;
          height: 3rem;
        }
      }

      .head2 {
        font-size: 67px;
        font-weight: 275;
        margin-top: -3.5rem;
        margin-left: -1.2rem;
      }

      .img2 {
        margin-top: -6rem;
        margin-left: -3rem;
        height: 2rem;
      }
    }
  }
}
