<!-- <app-header  (navigate)="navigate($event)"></app-header>

<ng-container *ngIf="tab=='Home'">
<app-main></app-main>
<app-placement></app-placement>
<app-development></app-development>
<app-career></app-career>
<app-learningtools></app-learningtools>

</ng-container>
<ng-container *ngIf="tab=='gallery'">
<app-gallery></app-gallery>
</ng-container>
<ng-container *ngIf="tab=='contact'">
    <app-contactus></app-contactus>
</ng-container>
<app-footer></app-footer> -->


<app-header></app-header>
<router-outlet></router-outlet> 
<app-footer></app-footer>
