// @import '~bootstrap/scss/bootstrap';
@import "ngx-toastr/toastr";
// @import "/node_modules/ngx-spinner/animations/ball-scale-multiple.css";

* {
    margin: 0;
    padding: 0;
    // font-family: "Champion Gothic";
    // font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


section {

    padding-top: 20px;
}

@font-face {
    font-family: 'Champion Gothic';
    src: url('../src/assets/font/ChampionGothic-Featherweight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../src/assets/fontSs/Helvetica-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


